In [6]:
import pandas as pd
import sys
sys.path.append('../')
sys.path.append('../potzy/')

#LOG IN INTO SIAMCHART
import potzy.metadata
import potzy.helpers
import potzy.morningstarreader as ms

%load_ext autoreload
%autoreload

all_tickers = potzy.metadata.get_all_thai_tickers()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [11]:
## [TO DEBUG]:clean up year before appending

df=pd.DataFrame()
bad_tickers=set()
for ticker in all_tickers:
    try:
        dfs = ms.load_key_ratio_thai(ticker).reset_index()
        dfs['ticker']=ticker
        df = df.append(dfs,ignore_index=True)
    except:
        bad_tickers.add(ticker)

In [12]:
#count number of tickers
len(bad_tickers),len(df.ticker.unique())

(62, 684)

In [13]:
df.head()

,2002-12,2003-12,2004-12,2005-12,2006-06,2006-07,2006-12,2007-06,2007-07,2007-08,...,2017-01,2017-02,2017-03,2017-05,2017-06,2017-07,2017-09,TTM,item,ticker
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"4,402",Revenue THB Mil,2S
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.8,Gross Margin %,2S
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,373,Operating Income THB Mil,2S
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.5,Operating Margin %,2S
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,293,Net Income THB Mil,2S

In [17]:
potzy.helpers.ensure_dir("../data/morningstar/ks_thai_all_raw.csv")
df.to_csv("../data/morningstar/ks_thai_all_raw.csv")

69082