In [2]:
import pandas as pd
import sys
sys.path.append('../')
sys.path.append('../potzy/')

#LOG IN INTO SIAMCHART
import potzy.metadata
import potzy.helpers
import potzy.morningstarreader as ms

%load_ext autoreload
%autoreload

all_tickers = potzy.metadata.get_all_thai_tickers()

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [5]:
df=pd.DataFrame()
bad_tickers=set()
for ticker in all_tickers:
#for ticker in ['CPALL','HMPRO']:
    try:
        dfs = ms.load_key_ratio_thai(ticker).reset_index()
        dfs['ticker']=ticker
        
        tmp=set([int(x.split('-')[-1]) for x in dfs.columns if '-' in x])
        if len(tmp) > 1:
            print(ticker,": Multiple end-of-year months: Weird.")
            print(ticker,": Checking columns ... ")
            print(ticker,": ",dfs.columns)
        dfs['endofyear_month']= next(iter(tmp))
        
        #replace columns
        dfs.columns = [x.split('-')[0] for x in dfs.columns]
        
        #append to 
        df = df.append(dfs,ignore_index=True)
        
    except:
        bad_tickers.add(ticker)

APEX : Multiple end-of-year months: Weird.
APEX : Checking columns ...
APEX :  Index(['item', '2007-06', '2009-12', '2010-12', '2011-12', '2012-12',
       '2013-12', '2014-12', '2015-12', '2016-12', '2017-12', 'TTM', 'ticker'],
      dtype='object')
CNS : Multiple end-of-year months: Weird.
CNS : Checking columns ...
CNS :  Index(['item', '2008-08', '2009-08', '2010-08', '2011-08', '2012-12',
       '2013-12', '2014-12', '2015-12', '2016-12', '2017-12', 'TTM', 'ticker'],
      dtype='object')
EASTW : Multiple end-of-year months: Weird.
EASTW : Checking columns ...
EASTW :  Index(['item', '2008-09', '2009-12', '2010-12', '2011-12', '2012-12',
       '2013-12', '2014-12', '2015-12', '2016-12', '2017-12', 'TTM', 'ticker'],
      dtype='object')
KBS : Multiple end-of-year months: Weird.
KBS : Checking columns ...
KBS :  Index(['item', '2008-09', '2009-09', '2010-09', '2011-09', '2011-12',
       '2012-12', '2013-12', '2014-12', '2015-12', '2016-12', 'TTM', 'ticker'],
      dtype='object')
LTX : Multiple end-of-year months: Weird.
LTX : Checking columns ...
LTX :  Index(['item', '2008-03', '2009-03', '2010-03', '2011-12', '2012-12',
       '2013-12', '2014-12', '2015-03', '2016-03', '2017-03', 'TTM', 'ticker'],
      dtype='object')
MBK : Multiple end-of-year months: Weird.
MBK : Checking columns ...
MBK :  Index(['item', '2008-06', '2009-06', '2010-06', '2011-06', '2012-12',
       '2013-12', '2014-12', '2015-12', '2016-12', '2017-12', 'TTM', 'ticker'],
      dtype='object')
OISHI : Multiple end-of-year months: Weird.
OISHI : Checking columns ...
OISHI :  Index(['item', '2007-12', '2008-12', '2009-12', '2010-12', '2011-12',
       '2012-12', '2013-12', '2014-12', '2015-12', '2017-09', 'TTM', 'ticker'],
      dtype='object')
PL : Multiple end-of-year months: Weird.
PL : Checking columns ...
PL :  Index(['item', '2008-09', '2009-09', '2010-12', '2011-12', '2012-12',
       '2013-12', '2014-12', '2015-12', '2016-12', '2017-12', 'TTM', 'ticker'],
      dtype='object')
PRG : Multiple end-of-year months: Weird.
PRG : Checking columns ...
PRG :  Index(['item', '2007-06', '2008-06', '2009-06', '2010-06', '2011-06',
       '2012-12', '2013-12', '2014-12', '2015-12', '2016-12', 'TTM', 'ticker'],
      dtype='object')
SFP : Multiple end-of-year months: Weird.
SFP : Checking columns ...
SFP :  Index(['item', '2007-12', '2008-12', '2009-12', '2010-12', '2011-12',
       '2012-12', '2013-12', '2014-12', '2015-12', '2017-09', 'TTM', 'ticker'],
      dtype='object')
SIAM : Multiple end-of-year months: Weird.
SIAM : Checking columns ...
SIAM :  Index(['item', '2008-06', '2009-06', '2010-06', '2011-06', '2012-06',
       '2013-06', '2014-06', '2015-06', '2016-12', '2017-12', 'TTM', 'ticker'],
      dtype='object')
SSC : Multiple end-of-year months: Weird.
SSC : Checking columns ...
SSC :  Index(['item', '2007-12', '2008-12', '2009-12', '2010-12', '2011-12',
       '2012-12', '2013-12', '2014-12', '2015-12', '2017-09', 'TTM', 'ticker'],
      dtype='object')
TCB : Multiple end-of-year months: Weird.
TCB : Checking columns ...
TCB :  Index(['item', '2007-12', '2008-12', '2009-12', '2010-12', '2011-12',
       '2012-12', '2014-03', '2015-03', '2016-03', '2017-03', 'TTM', 'ticker'],
      dtype='object')
THAI : Multiple end-of-year months: Weird.
THAI : Checking columns ...
THAI :  Index(['item', '2007-09', '2008-12', '2009-12', '2010-12', '2011-12',
       '2012-12', '2013-12', '2014-12', '2015-12', '2016-12', 'TTM', 'ticker'],
      dtype='object')
TR : Multiple end-of-year months: Weird.
TR : Checking columns ...
TR :  Index(['item', '2007-09', '2008-09', '2009-09', '2010-09', '2011-09',
       '2013-03', '2014-03', '2015-03', '2016-03', '2017-03', 'TTM', 'ticker'],
      dtype='object')
TSC : Multiple end-of-year months: Weird.
TSC : Checking columns ...
TSC :  Index(['item', '2007-12', '2008-12', '2009-12', '2010-12', '2011-12',
       '2013-09', '2014-09', '2015-09', '2016-09', '2017-09', 'TTM', 'ticker'],
      dtype='object')
TTA : Multiple end-of-year months: Weird.
TTA : Checking columns ...
TTA :  Index(['item', '2008-09', '2009-09', '2010-09', '2011-09', '2012-09',
       '2013-09', '2014-09', '2015-12', '2016-12', '2017-12', 'TTM', 'ticker'],
      dtype='object')
TTTM : Multiple end-of-year months: Weird.
TTTM : Checking columns ...
TTTM :  Index(['item', '2008-12', '2009-12', '2010-12', '2011-12', '2012-12',
       '2013-12', '2014-12', '2015-03', '2016-03', '2017-03', 'TTM', 'ticker'],
      dtype='object')
UMS : Multiple end-of-year months: Weird.
UMS : Checking columns ...
UMS :  Index(['item', '2007-12', '2008-12', '2009-12', '2010-09', '2011-09',
       '2012-09', '2013-09', '2014-09', '2015-12', '2016-12', 'TTM', 'ticker'],
      dtype='object')
VTE : Multiple end-of-year months: Weird.
VTE : Checking columns ...
VTE :  Index(['item', '2008-06', '2009-06', '2010-06', '2011-06', '2012-06',
       '2012-12', '2013-12', '2014-12', '2015-12', '2016-12', 'TTM', 'ticker'],
      dtype='object')
WORLD : Multiple end-of-year months: Weird.
WORLD : Checking columns ...
WORLD :  Index(['item', '2007-12', '2008-12', '2009-12', '2010-12', '2011-12',
       '2012-12', '2014-05', '2015-05', '2016-05', '2017-05', 'TTM', 'ticker'],
      dtype='object')

In [6]:
#count numbaer of tickers
len(bad_tickers),len(df.ticker.unique())

(65, 681)

In [7]:
output_file = "../data/morningstar/ks_thai_all.csv"
potzy.helpers.ensure_dir(output_file)
df.to_csv(output_file)

In [58]:
df[df.ticker=='APCO'].dropna(axis=1, thresh=10)

,2010,2011,2012,2013,2014,2015,2016,TTM,endofyear_month,item,ticker
3737,256,291,286,349,426,409,421,412,12,Revenue THB Mil,APCO
3738,78.7,81.7,83.7,83.2,83.6,84.1,85.9,84.3,12,Gross Margin %,APCO
3739,59,67,72,104,148,126,137,125,12,Operating Income THB Mil,APCO
3740,23.1,23.0,25.2,29.9,34.7,30.7,32.6,30.2,12,Operating Margin %,APCO
3741,44,50,55,79,119,101,131,121,12,Net Income THB Mil,APCO
3742,0.20,0.17,0.12,0.14,0.25,0.20,0.25,0.23,12,Earnings Per Share THB,APCO
3743,NaN,NaN,0.08,0.09,0.08,0.02,0.16,0.21,12,Dividends THB,APCO
3744,NaN,NaN,80.6,60.5,28.9,13.6,66.2,92.8,12,Payout Ratio % *,APCO
3745,223,300,472,551,520,547,554,600,12,Shares Mil,APCO
3746,NaN,0.38,0.60,0.64,0.85,0.90,0.93,0.99,12,Book Value Per Share * THB,APCO
3747,41,63,73,94,104,139,125,98,12,Operating Cash Flow THB Mil,APCO
3748,-4,-18,-21,-16,-25,-55,-1,-2,12,Cap Spending THB Mil,APCO
3749,37,45,52,78,79,84,123,96,12,Free Cash Flow THB Mil,APCO
3750,NaN,0.13,0.07,0.11,0.17,0.07,0.25,NaN,12,Free Cash Flow Per Share * THB,APCO
3751,124,302,290,312,406,424,545,NaN,12,Working Capital THB Mil,APCO
3752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,Key Ratios -> Profitability,APCO
3753,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,TTM,12,Margins % of Sales,APCO
3754,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,12,Revenue,APCO
3755,21.31,18.32,16.30,16.77,16.38,15.87,14.14,15.72,12,COGS,APCO
3756,78.69,81.68,83.70,83.23,83.62,84.13,85.86,84.28,12,Gross Margin,APCO
3757,55.58,58.64,61.44,55.43,50.58,55.02,54.67,55.58,12,SG&A,APCO
3758,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,R&D,APCO
3759,NaN,NaN,-2.94,-2.10,-1.70,-1.61,-1.43,-1.54,12,Other,APCO
3760,23.11,23.04,25.20,29.90,34.74,30.72,32.62,30.24,12,Operating Margin,APCO
3761,2.14,1.42,-0.08,-0.10,-0.03,-0.07,6.36,6.63,12,Net Int Inc & Other,APCO
3762,25.25,24.46,25.12,29.80,34.71,30.65,38.98,36.87,12,EBT Margin,APCO
3763,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,TTM,12,Profitability,APCO
3764,31.44,29.47,22.42,24.08,19.64,19.78,19.99,19.98,12,Tax Rate %,APCO
3765,17.31,17.25,19.49,22.62,27.89,24.59,31.19,29.51,12,Net Margin %,APCO
3766,1.18,0.93,0.69,0.79,0.84,0.69,0.63,0.66,12,Asset Turnover (Average),APCO
3767,20.35,15.98,13.37,17.91,23.29,16.89,19.61,19.43,12,Return on Assets %,APCO
3768,1.17,1.10,1.12,1.13,1.09,1.10,1.10,1.08,12,Financial Leverage (Average),APCO
3769,23.81,17.99,14.88,20.17,25.84,18.58,21.59,21.01,12,Return on Equity %,APCO
3770,23.47,17.88,14.81,20.14,25.84,18.58,21.59,21.01,12,Return on Invested Capital %,APCO
3771,464.68,321.67,NaN,NaN,NaN,NaN,NaN,NaN,12,Interest Coverage,APCO
3772,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,Key Ratios -> Growth,APCO
3773,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,Latest Qtr,12,NaN,APCO
3774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,Revenue %,APCO
3775,NaN,13.71,-1.65,21.89,22.17,-3.89,2.96,-1.07,12,Year over Year,APCO
3776,NaN,NaN,NaN,10.88,13.56,12.69,6.53,NaN,12,3-Year Average,APCO
3777,NaN,NaN,NaN,NaN,NaN,9.86,7.70,NaN,12,5-Year Average,APCO
3778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,10-Year Average,APCO
3779,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,Operating Income %,APCO
3780,NaN,13.38,-4.98,63.72,41.94,-15.01,9.34,-5.50,12,Year over Year,APCO
3781,NaN,NaN,NaN,20.82,30.22,25.47,9.67,NaN,12,3-Year Average,APCO
3782,NaN,NaN,NaN,NaN,NaN,16.30,15.46,NaN,12,5-Year Average,APCO
3783,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,10-Year Average,APCO
3784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,Net Income %,APCO
3785,NaN,13.33,11.10,41.48,50.64,-15.28,30.60,NaN,12,Year over Year,APCO
3786,NaN,NaN,NaN,21.22,33.29,21.77,18.57,NaN,12,3-Year Average,APCO
3787,NaN,NaN,NaN,NaN,NaN,17.85,21.24,NaN,12,5-Year Average,APCO
3788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,10-Year Average,APCO
3789,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,EPS %,APCO
3790,NaN,-16.67,-30.00,39.29,41.54,-13.04,25.00,-12.36,12,Year over Year,APCO
3791,NaN,NaN,NaN,-6.69,11.33,19.68,15.44,NaN,12,3-Year Average,APCO
3792,NaN,NaN,NaN,NaN,NaN,NaN,8.45,NaN,12,5-Year Average,APCO
3793,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,10-Year Average,APCO
3794,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,Key Ratios -> Cash Flow,APCO
3795,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,TTM,12,Cash Flow Ratios,APCO
3796,NaN,53.08,16.45,28.56,10.60,33.39,-10.31,NaN,12,Operating Cash Flow Growth % YOY,APCO
3797,NaN,21.01,16.48,49.42,1.03,6.58,46.30,NaN,12,Free Cash Flow Growth % YOY,APCO
3798,1.54,6.18,7.31,4.57,5.90,13.37,0.32,0.54,12,Cap Ex as a % of Sales,APCO
3799,14.54,15.48,18.33,22.47,18.58,20.61,29.28,23.31,12,Free Cash Flow/Sales %,APCO
3800,0.84,0.90,0.95,0.99,0.67,0.84,0.94,0.79,12,Free Cash Flow/Net Income,APCO
3801,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,Key Ratios -> Financial Health,APCO
3802,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,Latest Qtr,12,Balance Sheet Items (in %),APCO
3803,38.58,67.91,65.88,66.16,67.00,65.06,75.65,72.49,12,Cash & Short-Term Investments,APCO
3804,4.27,2.85,1.81,2.85,2.60,2.43,1.21,1.96,12,Accounts Receivable,APCO
3805,22.38,10.31,9.63,8.75,9.29,7.65,6.77,8.63,12,Inventory,APCO
3806,5.47,0.58,0.69,0.54,0.49,0.09,0.12,0.12,12,Other Current Assets,APCO
3807,70.71,81.65,78.01,78.30,79.38,75.23,83.75,83.20,12,Total Current Assets,APCO
3808,27.64,17.33,20.80,20.02,18.80,23.32,15.00,15.12,12,Net PP&E,APCO
3809,0.19,0.13,0.14,0.10,0.24,0.20,0.16,0.16,12,Intangibles,APCO
3810,1.46,0.90,1.06,1.58,1.59,1.25,1.09,1.52,12,Other Long-Term Assets,APCO
3811,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,12,Total Assets,APCO
3812,3.58,1.71,6.59,NaN,NaN,NaN,NaN,NaN,12,Accounts Payable,APCO
3813,0.41,0.21,NaN,NaN,NaN,NaN,NaN,NaN,12,Short-Term Debt,APCO
3814,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,Taxes Payable,APCO
3815,3.36,2.72,1.92,2.74,1.62,2.35,2.66,1.23,12,Accrued Liabilities,APCO
3816,6.17,3.31,1.06,7.42,5.53,5.45,4.41,4.00,12,Other Short-Term Liabilities,APCO
3817,13.52,7.95,9.57,10.16,7.14,7.80,7.07,5.23,12,Total Current Liabilities,APCO
3818,1.01,0.33,NaN,NaN,NaN,NaN,NaN,NaN,12,Long-Term Debt,APCO
3819,NaN,1.13,1.34,1.41,1.31,1.87,1.66,1.93,12,Other Long-Term Liabilities,APCO
3820,14.53,9.41,10.91,11.57,8.45,9.67,8.73,7.16,12,Total Liabilities,APCO
3821,85.47,90.59,89.09,88.43,91.55,90.33,91.27,92.84,12,Total Stockholders' Equity,APCO
3822,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,12,Total Liabilities & Equity,APCO
3823,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,Latest Qtr,12,Liquidity/Financial Health,APCO
3824,5.23,10.27,8.15,7.71,11.11,9.65,11.85,15.92,12,Current Ratio,APCO
3825,3.17,8.90,7.07,6.80,9.74,8.66,10.87,14.24,12,Quick Ratio,APCO
3826,1.17,1.10,1.12,1.13,1.09,1.10,1.10,1.08,12,Financial Leverage,APCO
3827,0.01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,Debt/Equity,APCO
3828,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12,Key Ratios -> Efficiency Ratios,APCO
3829,2010-12,2011-12,2012-12,2013-12,2014-12,2015-12,2016-12,TTM,12,Efficiency,APCO
3830,1.65,5.03,9.28,10.85,11.87,11.12,8.18,10.28,12,Days Sales Outstanding,APCO
3831,326.14,311.79,325.27,252.22,241.39,282.07,294.87,292.82,12,Days Inventory,APCO
3832,52.12,50.74,136.76,180.63,151.01,162.38,175.44,132.28,12,Payables Period,APCO
3833,275.66,266.08,197.79,82.44,102.25,130.81,127.61,170.82,12,Cash Conversion Cycle,APCO
3834,221.49,72.63,39.35,33.63,30.76,32.81,44.62,35.50,12,Receivables Turnover,APCO
3835,1.12,1.17,1.12,1.45,1.51,1.29,1.24,1.25,12,Inventory Turnover,APCO
3836,4.25,4.43,3.59,3.88,4.32,3.24,3.33,3.55,12,Fixed Assets Turnover,APCO
3837,1.18,0.93,0.69,0.79,0.84,0.69,0.63,0.66,12,Asset Turnover,APCO

In [15]:
df.columns

Index(['2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010',
       '2011', '2012', '2013', '2014', '2015', '2016', '2017', 'TTM',
       'endofyear_month', 'item', 'ticker'],
      dtype='object')

In [40]:
roic='Return on Invested Capital %'
year_cols=['2007', '2008', '2009', '2010','2011', '2012', '2013', '2014', '2015', '2016', '2017']

df_roic=df[df.item==roic][['ticker']+year_cols].set_index('ticker').astype('float')[year_cols[-5:]].mean(axis=1).sort_values(ascending=False)

fcf_ratio = 'Free Cash Flow/Sales %'
df_fcf=df[df.item==fcf_ratio][['ticker']+year_cols].set_index('ticker').astype('float')[year_cols[-5:]].mean(axis=1).sort_values(ascending=False)

In [41]:
dff=pd.concat([df_fcf,df_roic],axis=1)
dff.columns=['roic','fcf_ratio']

In [46]:
dffs=dff[(dff.roic > 15)&(dff.fcf_ratio >= 20)]

In [39]:
dff

                roic  fcf_ratio
APCO       22.735000  21.537500
BEAUTY     22.334000  42.928000
BEC        34.666000  32.612000
BIG        49.156000  47.455000
BROOK      28.396000  30.156000
COMAN      24.463333  29.536667
INTUCH    135.908000  42.052000
NETBAY     32.896667  35.796667
SRIPANWA   82.870000  67.703333
VGI        20.056000  47.952000

In [43]:
tickers=['M','CPALL',"HMPRO",'CPN','SVH']
dff[dff.index.isin(tickers)]

         roic  fcf_ratio
CPALL   3.990      8.630
CPN    65.590     14.724
HMPRO   0.556     14.732
M      12.554     17.680
SVH    10.948     20.026