## Process raw price files from yahoodatareader to one single for quick research

We load raw price file from notebook load_price_yahoo_finance. This notebook combine those files into a single dataframe for quick research later on.

In [30]:
%run 'header.ipynb'
import glob

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [31]:
input_path='../data/price/yahoo/20180310/'
output_file='../data/price/thai_price_all_yahoo_20180310.csv'

all_files=glob.glob(input_path+'*.csv')
print("Number of files/tickers: ",len(all_files))
df=pd.DataFrame()
for files in all_files:
    tmp =pd.read_csv(files)
    tmp['ticker']=files.split('/')[-1][:-4]
    df = df.append(tmp)
## save file
df.to_csv(output_file)

print(len(df))
df.head()

Number of files/tickers:  700
1824110

         Date   Open   High    Low  Close  Adj Close     Volume ticker
0  2009-09-02  1.503  1.719  1.503  1.719   1.067619  116504297     2S
1  2009-09-03  1.809  1.944  1.773  1.908   1.185002  141466807     2S
2  2009-09-04  1.908  1.917  1.800  1.800   1.117926   27410262     2S
3  2009-09-07  1.755  1.800  1.656  1.692   1.050850   23058760     2S
4  2009-09-08  1.683  1.737  1.656  1.665   1.034082    9555003     2S

In [35]:
## get all set50, getall set100, test coverage
s50=potzy.metadata.load_set50_tickers()
s100=potzy.metadata.load_set100_tickers()

set(s50).difference(set(df['ticker'].unique())), set(s100).difference(set(df['ticker'].unique()))

(set(), set())